// Define variables for your color scheme
$blue: #2A8EE6;
$red: #E64840;
$light-gray: transparentize(#CFCFCF, .4);
$black-background: #030D1C;
$diluted-black: transparentize($black-background, .2);
$background-color: #F4F3FF;
$diluted-background: transparentize($background-color, .2);
$black: #010305;
$white: #FAFFFF;
$dark-card: #041124;
$opacity: 0.5;
$opacity-dark: 0.8;
$secondary-blue: #1E66A6;
// For use on darkmode
$ternary-blue: #2E9DFF;
$navbar-blue: #061421;
