<ul>
  <li>
    <div class="navbar-user-option btn custom-btn-nav toggle-btn">
      <i class="far fa-moon"></i>
    </div>
  </li>
  <% if user_signed_in? %>
    <li class="link-navbar-user">
      LOG OUT
    </li>
  <% else %>
    <li class="link-navbar-user">
      LOGIN
    </li>
  <% end %>
</ul>
