<h1>Pseudocode plan</h1>

<p>
  Pseudo time!!

  link to demo from initial page

  demo template

  demo template must have a sign up link and activate a replay on last render

  timeline with links directly to render

  create renders

  create class for renders

  hover explanatories on every render

  ---------------

  idea for the switching

  create a for loop with counter per click
</p>
