<ul>
  <li><%= link_to "Dashboard", root_path, class: "navbar-menu-option" %></li>
  <li><%= link_to "Project list", projects_index_path, class: "navbar-menu-option" %></li>
  <li><%= link_to "Ticket list", tickets_path, class: "navbar-menu-option" %><br></li>
</ul>
