<div class="container">
  <div>
    <p>This is the demo!!</p>
    <%= render 'pages/shared/welcome' %>
  </div>
  <div>
    <%= link_to "Sign in", new_user_session_path %>
    <% if true %>
      <p>button</p>
    <% end %>
  </div>
</div>
