<div>
  <p>libre comercio y competitividad</p>
  <ul>
    <% @user_tickets.each do |ticket|%>
      <li>
        <h3><%= ticket.title %></h3>
        <%= link_to "go to ticket", ticket_path(ticket) %>
      </li>
    <% end %>
  </ul>
</div>
