<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <h1>My pending tickets</h1>
    <%= render 'shared/ticket_list', locals: { tickets: @user_tickets } %>
  </div>
</div>

