<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div>
    <%= link_to "Add a project", projects_new_path %>
    <br><br><br>
  <% if @projects.last %>
      <%= link_to "project list", projects_index_path %><br>
    <%= link_to "new ticket", tickets_new_path %><br>
    <% if @tickets.last %>
    <%= link_to "ticket list", tickets_path %><br>
    <% end %>
  <% end %>
</div>
