<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <h1>My pending tickets</h1>
    <ul>
      <% @user_tickets.each do |ticket|%>
        <li class="container-clickable">
          <%= link_to ticket_path(ticket) do %>
            <h3 class="text-caps">
              <%= ticket.title %>
            </h3>
            <p>
              <%= ticket.description %>
            </p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

