<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <h1>Tickets list
      <span class="button-link button-edit">
        <%= link_to new_ticket_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </span>
    </h1>
    <%= render 'shared/ticket_list', locals: { tickets: @tickets } %>
  </div>
</div>
