<h1>New Project</h1>
<%= simple_form_for @project do |f| %>
  <%= f.input :name, hint: "If the project name has multiple words separate them with _" %>
  <%= f.input :description %>
  <%= f.button :submit, class: "btn btn-success button-custom" %>
<% end %>
