<div class="container-working-title">
  <h3>Current ticket</h3>
</div>
<div class="container-working-ticket">
  <% if current_user.working_ticket %>
    <div class="container-working-description container-clickable">
      <%= link_to ticket_path(current_user.working_ticket.ticket) do %>
        <h4><%= current_user.working_ticket.ticket.title %></h4>
        <p><%= current_user.working_ticket.created_at.strftime("Started working at %I:%M%p")%></p>
      <% end %>
    </div>
    <div class="container-working-link">
      <%= link_to 'Pause ticket',
        update_hours_ticket_path((current_user.working_ticket.ticket)),
        method: :patch,
        class: "btn btn-primary button-custom",
        remote: true  %>

    </div>
  <% else %>
    <div class="container-working-description">
      <p>You are not working on any tickets right now</p>
    </div>
  <% end %>
</div>
