.button-link {
  margin-left: 4px;
}

.button-edit {
  font-size: 11pt;
}

.button-hours {
  color: $secondary-blue;
  display: inline-block;
  width: 100%;
  margin: 8px 0;
  font-size: 25pt;
  opacity: 1;

  &:hover, &:active {
    opacity: $opacity;
  }
}

.button-custom {
  background-color: transparent;
  border: 1px solid $black;

  &:hover, &:active {
    background-color: transparent;
  }
}

.toggle-btn {
  padding-right: 24px;
}

i, .far, .toggle-btn, .button-darktheme {
  color: $black;
  transition: 250ms ease-out color;
  &:hover{
    color: $blue;
  }
}
