.button-link {
  margin-left: 4px;
}

.button-edit {
  font-size: 11pt;

  &:hover {
    opacity: $opacity;
  }
}

.button-hours {
  color: $black;
  display: inline-block;
  width: 100%;
  margin: 8px 0;
  font-size: 25pt;
  opacity: $opacity;
  &:hover, &:active {
    color: $black;
    opacity: 1;
  }
}

.button-custom {
  background-color: transparent;
  border: 1px solid $black;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 300;

  &:hover, &:active {
    background-color: transparent;
    font-weight: 500;
  }
}

.toggle-btn {
  padding-right: 24px;
}
