.container {
  padding-bottom: 40px;
}
.container-layout {
  display: flex;
}

.container-main {
  flex-basis: 80%;
  padding: 16px 48px;
  border: 1px solid blue;
  // divider border will be placed here
}

.container-section {
  padding: 0 16px;
  margin: 0 0 40px 0;
}

.container-ticket-data{
  display: flex;
}

.container-ticket-hours{
  text-align: center;
  font-weight: 500;
}

.container-ticket-memos{
  display: flex;
  height: 500px;
  justify-content: space-between;
  color: inherit;
}
// insert the same logic in here
.container-memo-list, .container-ticket-description{
  flex-basis: 53%;
}

.container-memo-new, .container-ticket-hours{
  flex-basis: 40%;
}

.container-memo-show{
  margin: 0 16px 16px 0;
}

.navbar-selected-item {
  font-style: normal;
  font-weight: 500;
}

.container-clickable {
  margin: 0 0 16px 0;

  a, h3 {
    &:hover, &:active{
      font-weight: 500;
    }
  }
}

.container-event {
  margin-bottom: 16px;
  display: flex;
  color: $black;
}

.container-event-date{
  flex-basis: 25%;
}

.container-event-description{
  flex-basis: 75%;
  padding-left: 16px;
}

.link-shared-container{
  display: block;
  padding-top: 24px;

  a {
    display: inline;
    margin: 0;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 300;

    &:hover, &:active {
      background-color: transparent;
      font-weight: 500;
    }

  }
}

.container-working-feature{
  display: flex;
  justify-content: center;


  h1 {
    margin-top: 48px;
    font-size: 22pt;
    text-transform: initial;
  }
  p {
    font-size: 18pt;
    font-style: italic;
  }
}
