.container {
  padding-bottom: 40px;
  padding-top: 24px;
}

.container-layout {
  display: flex;
}

.container-main {
  flex-basis: 80%;
  padding: 16px 48px;
}

.container-status {
  flex-basis: 20%;
  padding: 0;
  border: 2px solid $light-gray;
  border-radius: 8px;
  height: calc(100vh - 70px);
}

.container-working-ticket {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-working-title{
  background-color: $light-gray;
  padding: 16px;
  border-radius: 6px 6px 0 0;

}

.container-working-description {
  // margin-top: 32px;
}

.container-section {
  padding: 0 16px;
  margin: 0 0 40px 0;
}

.container-ticket-data, .container-ticket-memos {
  display: flex;
  justify-content: space-between;
}

.container-ticket-hours{
  font-weight: 500;
}

.container-ticket-memos{
  height: 500px;
  color: inherit;
}

.container-memo-list, .container-ticket-description{
  flex-basis: 53%;
}

.container-memo-new, .container-ticket-hours{
  flex-basis: 40%;
}

.container-memo-show{
  margin: 0 16px 16px 0;
}

.container-clickable {
  &:hover {
    font-weight: inherit;
    color: inherit
  }
}

.container-clickable-ticket {
  margin: 16px;
  padding: 16px;
  border: 2px solid $light-gray;
  border-radius: 8px;
}


.container-event {
  margin-bottom: 16px;
  display: flex;
  color: $black;
}

.container-event-date{
  flex-basis: 25%;
}

.container-event-description{
  flex-basis: 75%;
  padding-left: 16px;
}

.link-shared-container{
  display: block;
  padding-top: 24px;

  a {
    display: inline;
    margin: 0;

    &:hover, &:active {
      background-color: transparent;
    }
  }
}

.container-working-feature{
  display: flex;
  justify-content: center;

  h1 {
    margin-top: 48px;
    font-size: 22pt;
  }

  p {
    font-size: 18pt;
  }
}
