.dark-mode {
  background-color: $black-background;
  color: $white;

  .container-event, .navbar-show, .container-event-description,
  input, .form-control, .link-to {
    color: $white;
  }

  .navbar-show{
    color: $white;
    border-bottom: 1px solid $white;
  }

  a, .btn, .link, i, .fas, .toggle-btn {
    &:hover{
      color: $ternary-blue;
    }
  }

  .button-custom {
    background-color: transparent;
    border: 1px solid $white;
    transition: 150ms ease-out color;

    &:hover{
      color: $ternary-blue;
      border: 1px solid $ternary-blue;
    }
  }

  .form-control,
  .-internal-autofill-selected{
    border: 1px solid $white;

    &:active {
      color: $white;

    }
  }

  .fas {
    color: white;
  }

  .container-working-title {
    background-color: $black-background;
    border-bottom: 1px solid $light-gray
  }
}
