.container-demo {
  border: 1px solid red;
}

.navbar-user-demo {
  padding: 16px 24px;
  margin: 0;

  li {
    display: inline-block;
    font-size: 10pt;

    i {
      font-size: 10pt;
    }
  }
}

.navbar-menu-demo{
  padding: 16px 24px;

  li {
    font-size: 10pt;
  }

}

.container-screen-demo{
  border: 1px solid teal;
}
