.navbar-user {
  justify-content: space-between;
  background: white;
  padding: 16px 48px 16px 48px;
}

.navbar-user .navbar-collapse {
  flex-grow: 0;
}

.navbar-user .navbar-brand img {
  width: 40px;
}

.navbar-menu {
  flex-basis: 18%;
  padding: 16px 0 0 48px;
}

.navbar-user-option {
  margin-left: 16px;
}
