.navbar-user {
  justify-content: space-between;
  background: transparent;
  padding: 16px 48px 16px 80px;

  i {
    color: $secondary-blue;
  }
}

.navbar-user .navbar-collapse {
  flex-grow: 0;
  color: $secondary-blue;
}

.navbar-user .navbar-brand img {
  width: 40px;
  color: $secondary-blue;
}

.navbar-menu {
  flex-basis: 18%;
  padding: 16px;
}

.navbar-show{
  display: block;
  border-bottom: 1px solid $black;
  margin: 16px 0 32px 0;
  padding-bottom: 12px;
}

.navbar-show li {
  display: inline-block;
  padding-left: 16px;
  cursor: pointer;
}

.navbar-show-item{
  color: $secondary-blue;
  display: inline-block;
  font-weight: 300;

  &:hover, &:active{
    font-weight: 500;
  }
}

.navbar-selected-item {
  color: $secondary-blue;
  font-style: normal;
  font-weight: 500;
}
