// OVERRIDE DEFAULT ELEMENT BEHAVIOR
body {
  font-weight: 300;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: capitalize;
  margin-bottom: 16px;
}

h1 {
  margin-bottom: 32px;
}

h2 {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

ul, li {
  list-style: none;
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
// LINK RELATED GOES HERE
a, .link-to {
   color: $secondary-blue;

  &:active, &:visited, &:hover {
    text-decoration: none;
    color: $secondary-blue;
  }
}

.link-to, .link-nav{
  font-weight: 500;

  &:hover{
    opacity: 0.5;
  }

.link-nav{
  text-decoration: underline;
  text-transform: capitalize;
  font-style: italic;
}

}
// TEXT FORMATING
.text-accent{
  font-weight: 500;
}

.header-margin-override{
  // margin-left: -16px;
}

.custom-link {
  color: $black
}

.text-title, .text-caps, .link-navbar-user {
  text-transform: uppercase;

  &:hover, &:active {
    background-color: transparent;
    font-weight: 500;
  }
}

.text-caps {
  font-size: 18pt;
  text-transform: uppercase;
  display: block;
  margin: 0 0 8px 0;
  font-style: italic;
  font-size: 15pt;
}

.link-navbar-user {
  color: $black;
  padding-top: 8px;
  margin: 0;
  font-style: italic;
}

.text-project-description {
  font-style: italic;
}

.text-status{
  font-size: 22pt;
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;
}
