body {
  font-weight: 300;
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
}

h1, h2, h3, .text-status {
  font-weight: 300;
}

h1 {
  margin-bottom: 32px;
}

h2, .text-status {
  font-size: 24pt;
}

h3 {
  font-size: 18pt;
}

h4 {
  font-size: 15pt;
}

ul, li {
  list-style: none;
  color: inherit;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a, .link-to {
   color: inherit;
   font-weight: 500;

  &:active, &:hover {
    text-decoration: none;
    color: $secondary-blue;
    transition: 150ms ease-out color;
  }
}

.link-to, .link-nav{
  color: $black;
  font-weight: 500;

  &:hover{
    color: $blue;
    transition: 250ms ease-out color;
  }

  .link-nav{
    text-decoration: underline;
  }
}
// TEXT FORMATING
.text-accent{
  font-weight: 500;
}

.custom-link {
  color: $black
}

.text-caps {
  font-size: 18pt;
  display: block;
  margin: 0 0 8px 0;
  font-size: 15pt;
}

.link-navbar-user {
  color: $white;
  padding-top: 8px;
  margin: 0;

  a {
    color: $white;

    &:active, &:hover {
      color: $blue;
      transition: 150ms ease-out color;
    }
  }
}

.navbar-selected-item {
  font-style: normal;
  font-weight: 500;
}
