<div class="container-layout">
  <div class="navbar-menu">
    <%= render 'shared/navbar_menu' %>
  </div>
  <div class="container-main">
    <h1>Edit memo</h1>
    <%= simple_form_for [ @ticket, @memo ] do |f| %>
      <%= f.input :content %>
      <%= f.button :submit, class: "button-custom" %>
    <% end %>
  </div>
</div>
